/* Alterações gerais */
body {
    background-color: #474757;
}
footer{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #414165;
}
p{
    color: #A1A1AA;
}
span{
    color: orange;
}
/* Alterações específicas */
/*navbar*/
.navbar-icon{
    margin-left: 15px;
}
.navbar-title{
    align-items: "center";
    color: #A1A1AA;
}
/*about*/
.about{
    color: #F4F4F5;
}
.about-container{
    width: 920px;
    margin: 0 auto;
    padding: 35px;
}
.about-text{
    align-items: "center";
}
.btn{
    align-items: "center";
}
/*Footer*/
.row{
    margin-bottom: 20px;
    display: grid;
}