<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/about">
        <img class="navbar-icon" src="/img/about-png.png" width=50px>
    </a>
    <h2 class="navbar-title">Uni<span>Notes</span></h2>
</nav>