<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="about-container">
    <h2 class="about">Projeto desenvolvido para 
        os alunos do C3 durante a <span>Semana da Computação 2022</span></h2>
        <div class="about-text">
    <h3>Sobre o projeto:</h3>
    <p>Inspirado no <b>bloco de notas</b>, este projeto foi
        construído utilizando as linguagens HTML, CSS &
        Javascript.
    </p>
    <p>
        Além disso, ele tem como finalidade apresentar
        os conceitos básicos tanto de Front-end quanto
        de Back-end para os alunos deste minicurso.
    </p>
    <p>
        <i>"Todos neste país deveriam aprender 
            a programar um computador, pois 
            isto ensina a pensar."</i> - Steve Jobs
    </p>
</div>
<a class="btn btn-primary" href="/" role="button">Voltar para o início</a>
</div>
</body>
<%- include ('partials/footer.ejs') %>